/* Global customization */

html{
	font-size:12px!important;
	overflow:hidden;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/* Chota customization */

:root {
	--color-primary: #14854F;
	--color-lightGrey: #d2d6dd;
	--color-grey: #747681;
	--color-darkGrey: #3f4144;
	--color-error: #d43939;
	--color-success: #28bd14;
	--grid-maxWidth: 120rem;
	--grid-gutter: 2rem;
	--font-size: 1.1rem;
	--font-size-s: 1rem;
	--font-family: "Helvetica Neue", sans-serif;
	--bg-color: #a684ab!important;
}


/* Clerk Customization */

.cl-user-button-identifier{
	font-size: var(--font-size-s)!important;
}

.cl-account-switcher button span{
	font-size: var(--font-size-s)!important;
}

.cl-component button{
	font-size: var(--font-size)!important;
}

.cl-sign-in label{
	font-size: var(--font-size)!important;
}

.cl-auth-form-switch span, .cl-auth-form-switch a{
	font-size: var(--font-size)!important;
}

.cl-user-button{
	width:4rem!important;
	height:4rem!important;
}